/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/
#tracking_status {
    border-bottom: 1px solid #777777;
    padding-bottom: 10px;
}
#delivery_by {
	color: grey;
	font-style: italic;
}
.date {
	font-size: 18px;
	font-weight: bolder;
}
#tracking {
	margin-bottom: 30px;
	h6 {
		font-weight: bolder;
		font-size: 16px;
		color: grey;
	}
}

table#delivery-status{
	border: 1px solid #d4d4d4;
	text-align: center;
	max-width: none;
	width: 100%;
	thead{
	  tr{
	    height: 40px;
	    font-size: 13px;
	    background-color: #d4d4d4;
	    text-transform: uppercase;
	    th{
	      text-align: center;
	    }
	  }
	}
	tbody{
	  tr{
	    height: 30px;
	    border-top: 1px solid #d4d4d4;
	    font-size: 13px;
	  }
	  tr.even{
	    background-color: white;
	  }
	  tr.odd{
	    background-color: #d4d4d4er;
	  }
	}
	td{
	    padding: 10px;
	}
}

@media only screen and (max-width: 767px){
	table#delivery-status{
		thead{
		  tr{
		    font-size: 9px;
		  }
		}
		tbody{
		  tr{
		    font-size: 9px;
		  }
		}
		td{
		    padding: 3px;
		}
	}
}