<% if @order.shipment_state.present? && @order.shipment_state == "shipped" %>
	<h3 id="tracking_status"><%= Spree.t(:show_tracking_status) %></h3>
	<div class="show_tracking" id="tracking">
	    <%= form_tag show_shipment_state_order_path(@order), url:  show_shipment_state_order_path(@order), method: :post, remote: true, id: "show-shipment-state" do |f| %>
	        <%#= hidden_field_tag :token, spree_current_user.token %>
	        <%= submit_tag Spree.t(:show_shippings), class: 'btn btn-primary' %>
	    <% end %>							        
	    <p><div class="loading"></div><%= Spree.t(:wait_process) %></p><br/>
	</div>
<% end %>
<script>
	jQuery(document).ready(function($){
	    $(document).on("ajax:beforeSend", "form[data-remote]", function(){
	        $("div.loading").css({"display": " inline-block", "visibility": "visible"});
	        $("#show-shipment-state").css({"display": "none"});
	    })
	});
</script>